:root {
    /* text color*/
    --primary-text-color: #757575;
    --header-text-color: #212121;
    --accent-color: #2196F3;
    --c-black: #000000;
    --c-white: #fff;
    --c-grey: rgba(255, 255, 255, 0.6);
    --c-lgrey: #AFB1B8;

    /* background color*/
    --bg-grey: #F5F4FA;
    --bg-white: #FFFFFF;
    --bg-dgrey: #2F303A;

}