.header {
  border-bottom: 1px solid var(--bg-grey);

  @media screen and (max-width: 767px) {
    padding: 15px 0;
  }

  &__logo {
    color: var(--c-black);
  }

  &__block {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      justify-content: space-between;
    }
  }
}
